.choiceDiv{
    display: flex;
    justify-content: center;
    gap: 20px;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}