*{
    padding: 0;
    margin: 0;
}
.game{
    display: flex;
    flex-direction: column;
    margin: 7% auto;
    overflow: hidden;
    border-radius: 1.5rem;
    width: 28.125rem;
    max-width: 100%;
    background-color: white;
    height: auto;
    background-color: black; 
    color: wheat;
    justify-content: center;
    align-items: center;

}
.score{
    display: flex;
    gap: 20px;
}
.p-count,.c-count{
   text-align: center;
}


/* CSS */

